# LOAD THE DATASET FROM THE GIVEN BELOW LINK.

https://drive.google.com/file/d/1RWvyhf9AcDZsSB5xVVgzsbHI1m4sFBJf/view?usp=share_link

In [7]:
import pandas as pd

In [10]:
df=pd.read_csv(r"C:\Users\DELL\Downloads\chipotle.tsv",sep='\t',index_col=0,header=0)

In [11]:
df

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# USING PANDAS FUNCTION CALCULATE HOW MANY PRODUCTS COSTS MORE THAN $10?

In [12]:
df.dtypes

quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [13]:
df['item_price']=df.item_price.str.replace('$','').astype(float)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9364\3937614795.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price']=df.item_price.str.replace('$','').astype(float)

In [14]:
df.dtypes

quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [15]:
df_cost=df[df['item_price']>10]
df_cost

,quantity,item_name,choice_description,item_price
order_id,,,,
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...
1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [17]:
df_cost['quantity'].value_counts()

1     997
2     114
3      11
4       4
15      1
7       1
8       1
10      1
Name: quantity, dtype: int64

In [18]:
df_cost.count()

quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

In [19]:
df_cost.shape

(1130, 4)

# What is the price of each item?

In [20]:
df[['item_name','item_price']]

                                      item_name  item_price
order_id
1                  Chips and Fresh Tomato Salsa        2.39
1                                          Izze        3.39
1                              Nantucket Nectar        3.39
1         Chips and Tomatillo-Green Chili Salsa        2.39
2                                  Chicken Bowl       16.98
...                                         ...         ...
1833                              Steak Burrito       11.75
1833                              Steak Burrito       11.75
1834                         Chicken Salad Bowl       11.25
1834                         Chicken Salad Bowl        8.75
1834                         Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

# Which is the Most Expensive Item?

In [22]:
df.nlargest(1,columns=['item_price'],keep='first')

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,15,Chips and Fresh Tomato Salsa,NaN,44.25