# Python

1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [14]:
prime=[2,3,5,7]+[x for x in range(2,101) if x%2!=0 and x%3!=0 and x%5!=0 and x%7!=0]

In [15]:
prime

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

2.Write a function to reverse a string

string='reverse a string'

In [16]:
string='reverse a string'
print(string[::-1])

gnirts a esrever

In [17]:
string='reverse a string'
print(string)
print(''.join(list(reversed(string))))

reverse a string
gnirts a esrever

3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday'

In [18]:
Days=['Monday','tuesday','friday','Sunday','Saturday']
for i in Days:
    if i[0].isupper():
        print(i)

Monday
Sunday
Saturday

4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [19]:
batch=['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
batch=[x.split("-")[2]for x in batch]
print(batch)

['1997', '2011', '1993', '2020']

5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [16]:
Module={'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
swap={v:k for k,v in Module.items()}
print(swap)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [ ]:
my_string='Data Science'
st=input('Enter new string:')
chars=0
for i in st:
    if i=='':
        continue
    elif i not in my_string:
        chars+=1
chars

7.Define a function to check whether a number is in a range (1000,10000) or not.

In [ ]:
def test_range(n):
    if n>1000 and n<10000:
        print(n,"the number is in the given range")
    else:
        print(n,"the number is not in the given range")
test=int(input('enter the number:'))
test_range(test)

8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [ ]:
test_score=[10,32,23,14,25]
total=sum(test_score)
print('sum of all elements in given list:',total)

9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [1]:
import numpy as np
num_array=np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
print(num_array)
print(np.where(num_array%2==0,-1,num_array))

[ 0 21 32 13 44 45 26 28 38 34 65 48 76]
[-1 21 -1 13 -1 45 -1 -1 -1 -1 65 -1 -1]

10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [ ]:
import numpy as np
Score=np.array([[210,402,383],[140,375,106],[140,125,217],[292,240,295]])
print('the minimum value in each row',Score.min(axis=1))